.main-container {
  z-index: -2;
  color : #fff;
  flex-grow: 1;
  min-width: 100%;
  min-height: 100%;
  padding-bottom: 5em;
  background : #0f0f43 url("~@/assets/images/bg.jpg") no-repeat center 0;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainmenu {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 100%;
  margin: -.05em 5em .1em 5em;
}

.mainmenu > a {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 11pt;
  color: #dffaff;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 0 30px;
}
  
.tid_shadow {
  top: 0px;
  width: 100%;
  height: 10px;
  background-image: url("~@/assets/images/shadow.png");
  background-position: left bottom;
}


.main {
position: relative;
min-height: 424px;
width: 1080px;
margin: 36px auto;
padding: 12px 12px 42px 12px;
z-index: 10;

&::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include corner-bezel(18.5px);
  box-shadow: inset 0 0 35px 25px rgb(15,89,171);
  background-color: rgb(34,38,102);
  opacity: 0.5;
}
}